body {
    background-color: #F7B3CC;
    font-size: 2rem;
    text-align: center;
}

#main-container {
    display: grid;
    place-items: center;
}
p {
    font-size: .85rem;
}

.cambios {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}